.container {
    background-color: #E7E7E7;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.heading {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 63px;
    text-align: center;
}